.a_color{
    color: white;
    margin-left: 80%;;
}
.header{
    height: 10%;
    width: 100%;
    background-color: slateblue;
    color: white;
    position: fixed;
}
mat-sidenav {
    width: 280px;
    padding:15px;
}
.sidenav-content{
    width: 20%;
}
.mat-drawer { 
    background-color: white;
    border: 1px solid slateblue;
    color:black;
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav_ul{
    list-style: none;
    
}
.nav_ul li{
    padding: 10px;
    
}
.nav_ul li a{
    text-decoration: none;
}